@model OceanViewHotel.Models.Prenotazione

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Prenotazione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataPrenotazione" class="control-label"></label>
                <input asp-for="DataPrenotazione" class="form-control" />
                <span asp-validation-for="DataPrenotazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCheckIn" class="control-label"></label>
                <input asp-for="DataCheckIn" class="form-control" />
                <span asp-validation-for="DataCheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCheckOut" class="control-label"></label>
                <input asp-for="DataCheckOut" class="form-control" />
                <span asp-validation-for="DataCheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caparra" class="control-label"></label>
                <input asp-for="Caparra" class="form-control" />
                <span asp-validation-for="Caparra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tariffa" class="control-label"></label>
                <input asp-for="Tariffa" class="form-control" />
                <span asp-validation-for="Tariffa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCamera" class="control-label"></label>
                <select asp-for="IdCamera" class="form-control" asp-items="ViewBag.IdCamera"></select>
                <span asp-validation-for="IdCamera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPensione" class="control-label"></label>
                <select asp-for="IdPensione" class="form-control" asp-items="ViewBag.IdPensione"></select>
                <span asp-validation-for="IdPensione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
