@model OceanViewHotel.Models.Servizio

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Servizio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPrenotazione" class="control-label"></label>
                <select asp-for="IdPrenotazione" class="form-control">
                    @foreach (var item in ViewData["IdPrenotazione"] as List<SelectListItem>)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdServizio" class="control-label"></label>
                <select asp-for="IdServizio" class="form-control">
                    @foreach (var item in ViewData["IdServizio"] as List<SelectListItem>)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="IdServizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
